.resultItem {
  position: relative;
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.header {
  height: 20%;
  display: flex;
  flex-direction: row;
}

.body {
  height: 80%;
  display: flex;
}