.resultItem {
  position: relative;
  width: 100%;
  display: flex;
  min-height: 50px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}

.header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.body {
  display: flex;
  padding-bottom: 30px;
}

.provider {
  font-weight: bold;
  width: 20%;
}

.gender {
  width: 40%;
}

.class {
  width: 40%;
}