.resultList {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: rgba(40, 40, 40, 1);
  padding: 20px 30px;
  width: 100%;
  list-style: none;
}