.resultList {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}


.list {
  width: 100%;
  list-style: none;
}

.listItem {
  width: 100%;
}